body {
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.row {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #080808;
  height: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.row > * {
  margin-right: 10px;
}

.row > *:last-child {
  margin-right: initial;
}
